{% extends 'template.html' %}

{% block content %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
    <tbody>
        <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
            <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
            <td class="container" width="1500" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 1500px !important; clear: both !important; margin: 0 auto;"
                valign="top" align="center">
                <div class="content" align="center" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 1500px; display: block; margin: 0 auto; padding: 20px;">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; background-color: #fff; margin: 0; border: 1px solid #e9e9e9;"
                        bgcolor="#fff">
                        <tbody>
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td class="" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #fff; font-weight: 500; text-align: center; border-radius: 3px 3px 0 0; background-color: #38414a; margin: 0; padding: 20px;"
                                    align="center" bgcolor="#71b6f9" valign="top">
                                    <img src="https://github.com/AMP-SCZ/lochness/blob/master/docs/source/images/AMP%20SCZ%20Logo%20small.png?raw=true"><br>
                                    <a href="https://github.com/AMP-SCZ/lochness" style="font-size:32px;color:#fff;">{{ title }}</a> <br>
                                    <span style="margin-top: 10px;display: block;">{{ subtitle }}</span>
                                </td>
                            </tr>
                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <td class="content-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;" valign="top">
                                    <table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <tbody>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                    <h1>AMP-SCZ MRI data processed with QQC</h1>
                                                    <h4>MRI BIDS Root:<code> {{ first_message }}</code></h4>
                                                </td>
                                            </tr>

                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 9px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Scans</th>
                                                                <th scope="col">Subject ID</th>
                                                                <th scope="col">Session ID</th>
                                                                <th scope="col">Series Count</th>
                                                                <th scope="col">Volume check</th>
                                                                <th scope="col">Orientation-Anat</th>
                                                                <th scope="col">Orientation-Others</th>
                                                                <th scope="col">Shim settings-Others</th>
                                                                <th scope="col">Bval comparison</th>
                                                                <th scope="col">QQC summary</th>
                                                                <th scope="col">QQC report location</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for qqc_html in qqc_html_list %}
                                                                <tr>
                                                                <th scope="row">{{ loop.index }}</th>
                                                                <td>{{ qqc_html['subject_name'] }}</td>
                                                                <td>{{ qqc_html['session_name'] }}</td>
                                                                <td>{{ qqc_html['series_count'] }}</td>
                                                                <td>{{ qqc_html['vol_check'] }}</td>
                                                                <td>{{ qqc_html['orient_anat'] }}</td>
                                                                <td>{{ qqc_html['orient_others'] }}</td>
                                                                <td>{{ qqc_html['shim_settings'] }}</td>
                                                                <td>{{ qqc_html['bval_comp'] }}</td>
                                                                {% if qqc_html['qc'] == "Pass" %}
                                                                    <td class="table-success">{{ qqc_html['qc'] }}</td>
                                                                {% else %} 
                                                                    <td class="table-warning">{{ qqc_html['qc'] }}</td>
                                                                {% endif %}
                                                                <td><a href="{{ qqc_html['qqc_html'] }}">{{ qqc_html['qqc_html'] }}</a></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 9px; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                {% if image_paths %}
                                                    {% for image_path in image_paths %}
                                                    <img style="height:800px;width:auto;" src="{{ image_path }}" alt="image here"> </img>
                                                    {% endfor %}
                                                {% endif %}
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; line-height: 1; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                    {{ in_mail_footer }}
                                                </td>
                                            </tr>
                                            <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; line-height: 0.7; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
                                                    Sent from <b>{{ server }}</b> by {{ username }}.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="footer" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; width: 100%; clear: both; color: #999; margin: 0; padding: 20px;">
                        <table width="100%" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <tbody>
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                    <td class="aligncenter content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 12px; vertical-align: top; color: #999; text-align: center; margin: 0; padding: 0 0 20px;" align="center" valign="top">{{ footer }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </td>
            <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;" valign="top"></td>
        </tr>
    </tbody>
</table>
{% endblock content %}
